# Linguist

finalBuild WIN/finalBuild_Data/Mono/etc/mono/1.0/* linguist-vendored=true
finalBuild WIN/finalBuild_Data/Mono/etc/mono/2.0/* linguist-vendored=true
finalBuild MAC/finalMAC.app/Contents/Data/Managed/etc/mono/1.0/* linguist-vendored=true
finalBuild MAC/finalMAC.app/Contents/Data/Managed/etc/mono/2.0/* linguist-vendored=true
*.aspx linguist-vendored=true
